/*==================

Style List:
1.General
2.Navbar
3.Header
4.About - Apa sih parti
5.About - Video have fun
6.Event - Owl Dota event
7.Event - Acaranya apa aja
8.Seminar - List Seminar
9.Seminar - Membahas
10.Parallax
11.Contact Person
12.Footer 

*/

/*General*/

@font-face {
    font-family: 'droidsans_r';
    src: url('font/droid_sans_regular/droidsans-webfont.eot');
    src: url('font/droid_sans_regular/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/droid_sans_regular/droidsans-webfont.woff2') format('woff2'),
         url('font/droid_sans_regular/droidsans-webfont.woff') format('woff'),
         url('font/droid_sans_regular/droidsans-webfont.ttf') format('truetype'),
         url('font/droid_sans_regular/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('font/open_sans_light/opensans-light-webfont.eot');
    src: url('font/open_sans_light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/open_sans_light/opensans-light-webfont.woff2') format('woff2'),
         url('font/open_sans_light/opensans-light-webfont.woff') format('woff'),
         url('font/open_sans_light/opensans-light-webfont.ttf') format('truetype'),
         url('font/open_sans_light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
	font-family: 'open_sanslight';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 38px;
}
h2 {
	font-family: 'Open Sans';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 32px;
	color:#252525;
}
h3 {
	font-family: 'open_sanslight';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 38px;
	color:#252525;
}
h5 {
	font-family: 'Open Sans';
	font-size: 18px;
	font-variant: normal;
	font-weight: 600;
	line-height: 20px;
	color:#ffe980;
	text-transform: uppercase;
}

html{
	width:100%;
	overflow-x:hidden;
}
body{
	color : #767676;
	-webkit-font-smoothing : antialiased;
	width:100%;
}
.top-margin{
	margin-top:96px;
}
.bottom-margin{
	margin-bottom : 96px;
}
p{
	font:normal 16px 'Open Sans';
	line-height: 1.8em;
}

.center-content{
	text-align:center;
}
p.description{
	width:70%;
	margin: 0 auto;
	padding-top:24px;
	padding-bottom:48px;
}

/*NAVBAR*/

.main-menu{
	background-color: #d23230;
	border-radius: 0;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
    position :fixed;
    margin: 0 auto;
}
.main-menu.tiny{
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	top:0; left:0; right:0; z-index:300;
}
.main-menu.tiny .navbar-top {
	display:none;
}
.main-menu .navbar-nav > li > a{
	font-family: 'droidsans_r';
	padding : 20px 13px 10px 13px;
	font-size:12px;
	line-height:22px;
	text-align: center;
	color : #fff;
	border-bottom:1px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: transparent;
	color:#fff;
}
.main-menu .navbar-nav > li > a:hover{
	color:#fff;
	border-bottom: 2px solid #fff;
}
.main-menu .navbar-nav > li > a:visited{
	color:#fff;
}
.main-menu .navbar-nav > .active > a, .main-menu .navbar-nav > .active > a:hover, .main-menu .navbar-nav > .active > a:focus{
	background-color: transparent;
	color:#fff;
    border-bottom: 2px solid #fff;
}

.main-menu .navbar-nav > li:first-child.active > a{
	color :#fff;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}

.navbar-toggle {
    z-index:3;
}

.navbar{
	position : fixed;
	width:100%;
	min-height: 50px;
	margin-bottom: 0px;
	border:none;
	z-index:999;
}

/*HEADER*/

.bgimage{
	width:100%;
	min-height:670px;
	text-align: center;
	position:relative;
}
#bgimage .logo{
	padding-top:10px;
}
#bgimage .heading-text{
	padding-top:10px;
}
#bgimage .border{
	padding-bottom :10px;
}

#bgimage.header-image{
	background-image: url(../img/header-img.jpg);
	background-position: center-top;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size :cover;
	background-size: cover;
	background-attachment: fixed;
	height:100%;
	overflow:hidden;
}
#bgimage .main-heading{
	width:55%;
	color:#fff !important;
}
#bgimage.header-image h1:after{
	display : block;
	width:120px;
	margin :10px 0;
	content:"";
}
#bgimage.header-image p {
	width:50%;
	color :#fff;
}

header {
	position:relative;
	width:100%;
	height: 105vh;
	background: url(../img/header-img.jpg);
	background-size: cover;
	-webkit-background-size:cover;
	color: #fff;
	overflow:hidden;
}
.main-caption{
	margin-top: 60px;
	z-index:2;
	width:100%;
	position:absolute;
	top:35%;
	left:0;
	transform: translate(0, -50%); 
	-webkit-transform: translate(0, -50%); 
	-moz-transform: translate(0, -50%); 
	-ms-transform: translate(0, -50%); 
	-o-transform: translate(0, -50%); 
	text-align:center;
}
.main-caption a img{
	margin-top:15px;
}
/*.main-caption a img:hover{
	margin-top:20px;
}*/
.heading-text{
	margin-top :40px;
	margin-bottom: 28px;
}
.heading-text h1{
	color :#ffffff;
    line-height: 0.8em;
}
.cloud img{
	bottom:0;
	background-size: cover;
	position:absolute;
	width:100%;
}

/*ABOUT*/

#about{
	padding-top: 0px;
}

#about .container{
	margin-top:75px;
	margin-bottom:150px;
}
#about img{
	margin-bottom:12px;
	margin-left:10px;
	position:relative;
}
#about .about-info h2:after{
	border-top: 3px solid #d6332c;
	display:block;
	width:35px;
	margin: 30px 0;
	content: "";
}
#about .about-info p{
	font-size:14px;
	color:#464646;
}
#about .about-info .thumb-video:last-child{
	margin-bottom: 0;
}
.question-mark{
	position: relative;
}
.question-mark:after{
	position: absolute;
	content: '';
	display: block;
	width: 200px;
	height: 200px;
	background: url('../img/question_mark_transparent.png') no-repeat;
    top: -44px;
    left: -49px;
}


/*EVENT*/

/*owl-carousel*/

#event .owl-carousel{
	width:394px;
	height:450px;
	background-color: #fff;
	margin-top:100px;
	margin-left:30px;
	/*overflow: hidden;*/
}
#event .owl-carousel .keterangan{
	margin:0;
	padding : 20px;
	background: #fff;
}
#event .owl-carousel img{
	margin:0;
	padding :0;
}
#event .owl-carousel p{
	color :#464646;
	font-size :14px;
}
#event .owl-carousel .cp{
	color:#d6332c;
	margin-top:18px;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Open Sans';	
}
#event .owl-carousel h4{
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	color:#d6332c;
}
#event .owl-carousel .more{
	width:100%;
	margin-top:25px;
	text-align: center;
}
#event .owl-carousel .more a{
	color:#898989;
	font-size: 14px;
	text-align: center;	
}
/*end of owl-carousel*/

#event{
	padding-top: 0px;
}

#event .greyscale{
	width:100%;
	background-color: #fafafa;
}
#event .container{
	margin-top:100px;
	margin-bottom:100px;
}
#seminar img{
    display: block;
    margin: 0 auto;
    width: 100%;
	background-size: cover;
}
#event .event-info{
	margin-top:100px;
}
#event .event-info h3:after{
	border-top: 3px solid #d6332c;
	display:block;
	width:35px;
	margin: 30px 0;
	content: "";
}
#event .event-info p{
	font-size:14px;
	color:#464646;
}
.dice-mark{
	position: relative;
}
.dice-mark:after{
	position: absolute;
	content: '';
	display: block;
	width: 200px;
	height: 200px;
	background: url('../img/dice_transparent.png') no-repeat;
    top: 28px;
    left: 514px;
}

/*SEMINAR*/

#seminar{
	padding-top: 0px;
}
#seminar .dark-bg{
	width:100%;
	background-color: #000;
}
#seminar .dark-bg .container .judul{
	color :#fff;
	margin:50px 0 25px 0;
}
#seminar .dark-bg .container .border{
	border-top: 3px solid #d6332c;
	display:block;
	width:35px;
	margin: 30px auto 25px auto;
	content: "";
}
#seminar .seminar-info{
	text-align: right;
	margin-right:20px;
}
#seminar .activity{
	margin-bottom : 50px;
	padding-right: 10px;
	position: relative;
}
#seminar .activity:before {
	position: absolute;
    content: '';
    width: 7px;
    height: 196%;
    background-color: #2F2F2F;
    top: -25px;
    right: -26px;
    z-index: 1;
}
#seminar .activity:after {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	background-color: #fff;
    top: 4px;
    right: -34px;
    border-radius: 100%;
    border: 6px solid #000000;
    z-index: 2;
}
#seminar img{
    display: block;
    margin: 0 auto;
    width:75%;
}

#seminar h4{
	font-family: 'open_sanslight';
	color:#fff;
	font-size: 24px;
	line-height: 26px;	
}
#seminar p,
#seminar .activity span{
	font-family: 'open_sanslight';
	color:#fff;
	font-size: 16px;
}
.activity span {
    display: inline-block;
    position: relative;
    top: -7px;
}
.activity-detail p,  .activity-detail h4 {
    padding-left: 28px !important;
}

/*LETS PARTI*/

section.module-black.myparallax{
	background-image: url(../img/parallax.jpg);
	min-height:100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
.module-black .content h2{
	color :#fff;
}
.module-black .content p{
	color :#fff;
}
.img-overlay{
	display: block;
	min-height: 100%;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}


/*CONTACT US*/

#contact{
	padding-top: 0px;
}
#contact .maps{
	width:100%;
	background-image: url(../img/maps.jpg);
	min-height: 720px;
}
#contact .container .wrapper-contact{
	width:auto;
	margin:120px 200px 0px 200px;
	padding :100px 0px;
	background-color: #fff;
	z-index:50;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-left: 550px;
	border-top: 20px solid #fff;
}

#contact .container .wrapper-contact .name{
	text-align:right;
}
#contact .container .wrapper-contact .number{
	text-align:left;
}
#contact h4{
	font-family: 'open_sanslight';
	color:#252525;
	font-size: 36px;
	line-height: 38px;
	margin-bottom:30px;
}
#contact p{
	font-family: 'Open Sans';
	color:#252525;
	font-size: 24px;
	line-height: 26px;
}
/*FOOTER*/

.footer{
margin :0;
padding : 0;
}
.footer .container{
	padding:0;
	margin:0;
	width:100%;
	background-color: #fff;
}
.footer .container .copyright{
	margin: 40px 0;
}
.footer .container .copyright a{
	margin-left :20px;

}
.footer .container .copyright a i{
	color: #7d7d7d;
}
.footer .container .copyright p{
	margin-top: 15px;
	color :#7d7d7d;
}
.scrollup{
	width:30px;
	height:30px;
	border-radius: 15px;
	opacity : .2;
	position :fixed;
	bottom : 20px;
	right : 25px;
	color : #fff;
	cursor : pointer;
	background-color: #000;
	z-index:50;
	transition : opacity .5s, background-color;
	-moz-transition : opacity .5s, background-color;
	-webkit-transition : opacity .5s, background-color;
}
.scrollup:hover{
	background:#d23230;
	opacity : 1 ;
}
.scrollup i{
	font-size:13px;
	position: absolute;
	opacity:1;
	color :#fff;
	left:50%;
	top:50%;
	margin-top:-7px;
	margin-left: -6px;
	text-decoration: none;
}